modules = ["nodejs-20", "web", "nix"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 41609552
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && tsx index.ts"

[[ports]]
localPort = 5000
externalPort = 80
